<nav class="navbar  navbar-default">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div> -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <!-- <div class="collapse navbar-collapse"> -->
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav">
        <li><a href="#" (click) = "navMenuSelect('items')">Items</a></li>
        <li><a href="#" (click) = "navMenuSelect('party')">Party</a></li>
        <li><a href="#" (click) = "navMenuSelect('game')">Assignment</a></li>
      </ul>
    </div>
  </div>
</nav>
