<div class="col-xs-12">
  <a href="#" class="list-group-item clearfix" *ngFor="let item of items">
    <div class="pull-left">
      <h4 class="list-group-item-heading" (click)="itemClicked(item)">
        {{item.name}}
      </h4>
      <p class="list-group-item-text"></p>
    </div>
  </a>
  <!-- <div class="pull-left">
    <h4 class="list-group-item-heading">{{itemData.desc}}</h4>
  </div> -->
</div>
