<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Item</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <app-item-list></app-item-list>
  </div>
  <div class="col-md-6" *ngIf = "eventEmitted">
    <app-item-detail></app-item-detail>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <app-item-edit></app-item-edit>
  </div>
</div>
<hr>
