<app-header (tabSelected) ="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-item *ngIf = "tabName==='items'"></app-item>
      <app-party *ngIf = "tabName==='party'"></app-party>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-game-controller *ngIf ="tabName==='game'" (customEventEmitter)="onCustomInterval($event)"></app-game-controller>
      </div>
    </div>
    <div class="row" *ngIf ="tabName==='game'">
      <div class="col-xs-12">
        <app-odd *ngFor="let oddEmit of oddNumbers" [odd]="oddEmit"></app-odd>
        <app-even *ngFor="let evenEmit of evenNumbers" [even]="evenEmit"></app-even>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-12"> -->
        <!-- <app-item-list
        *ngFor="let item of itemArray" [shop] = "item"></app-item-list> -->
      <!-- </div>
    </div> -->
  </div>
</div>