<div class="row">
  <div class="col-md-12">
    <p>{{item?.desc}}</p>
    <div class="btn-group" appAppDropdownDirective>
      <button type="button"
      class= "btn btn-primary dropdown-toggle">
      Manage Item <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#" (click)="onEdit()">Edit</a>
      </li>
      <li>
          <a href="#">Delete</a>
        </li>
    </ul>

    </div>
  </div>
</div>