<hr>
<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="price">Price</label>
                    <input type="number" id = "price" class="form-control">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">
        <button class="btn btn-success" type="submit">Add</button>
        <button class="btn btn-danger" type="button">Delete</button>
        <button class="btn btn-primary" type="button">Clear</button>
    </div>
</div>